<% provide(:title, "BLOGs") %>
<%= render "light_section" %>
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix blogPage">
  <div class="container">
    <div class="row">
      <div class="col-md-9 col-sm-8 col-xs-12">
        <div class="row">
          <div class="col-xs-12">
            <% @entries.each do |entry| %>
              <%= link_to aguzon_blog_entry_path(entry.id) do %>
                <div class="thumbnail">
                  <%= image_tag(entry.blog_entry_image.attachment(:large), :alt => "blog-image") %>
                  <div class="caption">
                    <div class="row">
                      <div class="col-md-3 col-md-push-10 col-sm-4 col-sm-push-8 col-xs-12">
                        <h5>詳細-Details-</h5>
                        <ul class="list-unstyled">
                          <li><i class="fa fa-user" aria-hidden="true"></i>Takaaki Komatsu</li>
                          <li><i class="fa fa-calendar" aria-hidden="true"></i><%= entry.display_date %></li>
                        </ul>
                      </div>
                      <div class="col-md-9 col-md-pull-2 col-sm-8 col-sm-pull-4 col-xs-12">
                        <h3><%= entry.title %></h3>
                        <p><%= entry.entry_summary(char=200) %></p>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-ms-4 col-xs-12 sideBar">
        <div class="panel panel-default recentBlogPosts">
          <div class="panel-heading">recent posts</div>
          <div class="panel-body">
            <% @entries.first(3).each do |entry| %>
              <%= link_to aguzon_blog_entry_path(entry.id) do %>
                <div class="media">
                  <%= image_tag entry.blog_entry_image.attachment(:mini) %>
                </div>
                <div class="media-body">
                  <h4 class="media-heading"><%= entry.title %></h4>
                  <p><i class="fa fa-calendar" aria-hidden="true"></i><%= entry.display_date %></p>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
