<% provide(:title, @product.name) %>
<!-- MAIN CONTENT SECTION -->
<%= render partial: "layouts/content_header", locals: {content_name: @product.name} %>
<section class="mainContent clearfix">
  <div class="container">
    <div class="row singleProduct">
      <div class="col-xs-12">
        <div class="media">
          <div class="media-left productSlider">
            <div id="carousel" class="carousel slide" data-ride="carousel">
              <div id="picture_large" class="carousel-inner">
                <%= render partial: "image", collection: @images, locals: {picture_size: "large"} %>
              </div>
            </div>
            <div class="clearfix">
              <div id="thumbcarousel" class="carousel slide" data-interval="false">
                <div id="picture_small" class="carousel-inner">
                  <%= render partial: "image", collection: @images, locals: {picture_size: "small"} %>
                </div>
                <a class="left carousel-control" href="#thumbcarousel" role="button" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#thumbcarousel" role="button" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
              </div>
            </div>
          </div>
          <div class="media-body">
            <% if @product.taxons.any? %>
              <ul class="list-inline">
                <li><a href="product_grid_left_sidebar.html">
                  <i class="fa fa-reply" aria-hidden="true"></i>
                  <%= link_to "一覧ページへ戻る", potepan_category_path(@product.taxons.first.id) %>
                  </a>
                </li>
              </ul>
            <% end %>
            <h2><%= @product.name %></h2>
            <h3><%= @product.display_price %></h3>
            <p><%= @product.description %></p>
            <span class="quick-drop">
              <select name="guiest_id3" id="guiest_id3" class="select-drop">
                <option value="0">S</option>
                <option value="1">M</option>
                <option value="2">L</option>
                <option value="3">XL</option>
              </select>
            </span>
            <span class="quick-drop resizeWidth">
              <select name="guiest_id4" id="guiest_id4" class="select-drop">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
              </select>
            </span>
            <div class="btn-area">
              <a href="cart_page.html" class="btn btn-primary btn-block">カートへ入れる<i class="fa fa-angle-right" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% if @product.taxons.any? %>
      <%= render partial: "related_products", locals: { related_products: @related_products } %>
    <% end %>
  </div>
</section>
