  <body>
    <div class="main-wrapper">
      <!-- HEADER -->
      <div class="header clearfix">
      <!-- LIGHT SECTION -->
      <section class="lightSection clearfix pageHeader">
        <div class="container">
          <div class="row">
            <div class="col-xs-6">
              <div class="page-title">
                <h2>About Us</h2>
              </div>
            </div>
            <div class="col-xs-6">
              <ol class="breadcrumb pull-right">
                <li>
                  <a href="index.html">Home</a>
                </li>
                <li class="active">About Us</li>
              </ol>
            </div>
          </div>
        </div>
      </section>

      <!-- MAIN CONTENT SECTION -->
      <section class="mainContent clearfix aboutUsInfo">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <div class="page-header">
                <h3>農産物直売所「AGUZON」とは</h3>
              </div>
            </div>
            <div class="col-sm-6 col-sm-push-6 col-xs-12">
              <%= image_tag("img/about-us/title-img.jpg", :alt => "about-us-img") %>
            </div>
            <div class="col-sm-6 col-sm-pull-6 col-xs-12">
              <p class="lead">「農業がしたいけれど、ハードルが高くてできない。」という、たくさんの友人の存在。一方で、高齢化による耕作放棄で農地荒廃が進行している現実。この２つをなんとか繋げたいと思いました。</p>
              <p>この10年ほどで私の地元である長野県の農地の荒廃が進んでしまいました。主な原因としては農地の所有者の高齢化です。高齢者にはもはや再度農地に戻すことはできません。
                また、耕作放棄地はそのほとんどが小規模の土地であり、農地が使いにくいという理由から再生利用したいという人がいないのが現状です。
                最近では耕作放棄が進んだことによってそこが害虫や害獣の住処となり、近隣住民や近隣の農地に悪影響を及ぼしてしまうと言う問題も出てきており、無視できない状態となりつつあります。</p>
              <p>一方、まだまだ動ける人たちの中に「農業はしてみたいけど、土地がないし、売り方も分からない」という方が身の回りに多いということも感じていました。</p>
              <p>そこで、生産者と消費者を直接つないで取引ができるようにすれば、小規模でも気軽に農業ができるようになり、農業へのハードルが下がり、多くの人が副業や趣味で農業を始めることができると感じました。</p>
              <p>このサービスが、耕作放棄地と体が動かせる人とを繋ぐことが出来なかった構造的問題を解決できる一助になればと思っています。</p>
              <br />
              <p class="lead"><できること></p>
              <ul class="list-unstyled">
                <li>農作物の売買</li>
                <li>生産者と消費者のコミュニケーション</li>
                <li>好きな生産者をフォロー</li>
              </ul>
            </div>
          </div>
        </div>
      </section>

      <!-- DARK SECTION -->
      <section class="darkSection clearfix">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <h3>Our Store Locations</h3>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="thumbnail">
                <div class="caption">
                  <h5>New York</h5>
                  <address>
                    Krakovská 1307/22, 110 00 N,Y <br>
                    Vězeňská 910/2, 110 00 N,Y-Staré  <br>
                    Město Na Hřebenkách 2, 150 00  <br>
                    N,Y
                  </address>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="thumbnail">
                <div class="caption">
                  <h5>Paris</h5>
                  <address>
                    Bebelpl. 1, 10117 Paris <br>
                    Jablonskistraße 16, 10405 Paris <br>
                    Rigaer Str. 9, 10247 Paris
                  </address>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="thumbnail">
                <div class="caption">
                  <h5>New York</h5>
                  <address>
                    Krakovská 1307/22, 110 00 N,Y <br>
                    Vězeňská 910/2, 110 00 N,Y-Staré  <br>
                    Město Na Hřebenkách 2, 150 00  <br>
                    N,Y
                  </address>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="thumbnail">
                <div class="caption">
                  <h5>Paris</h5>
                  <address>
                    Bebelpl. 1, 10117 Paris <br>
                    Jablonskistraße 16, 10405 Paris <br>
                    Rigaer Str. 9, 10247 Paris
                  </address>
                </div>
              </div>
            </div>
            <div class="col-xs-12">
              <button type="button" class="btn btn-default">Check more</button>
            </div>
          </div>
        </div>
      </section>

      <!-- WHITE SECTION -->
      <section class="whiteSection clearfix aboutPeople">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <h3>Our Peoples</h3>
            </div>
            <div class="col-sm-3 col-xs-12">
              <div class="thumbnail">
                <%= image_tag("img/about-us/people-01.jpg", :alt => "people-image") %>
                <div class="caption">
                  <h5>ADAM SMITH</h5>
                  <p>(CEO)</p>
                </div>
              </div>
            </div>
            <div class="col-sm-3 col-xs-12">
              <div class="thumbnail">
                <%= image_tag("img/about-us/people-02.jpg", :alt => "people-image") %>
                <div class="caption">
                  <h5>JENNIFER</h5>
                  <p>(CTO)</p>
                </div>
              </div>
            </div>
            <div class="col-sm-3 col-xs-12">
              <div class="thumbnail">
                <%= image_tag("img/about-us/people-03.jpg", :alt => "people-image") %>
                <div class="caption">
                  <h5>ANDREW HAIGE</h5>
                  <p>(Marketing Director)</p>
                </div>
              </div>
            </div>
            <div class="col-sm-3 col-xs-12">
              <div class="thumbnail">
                <%= image_tag("img/about-us/people-04.jpg", :alt => "people-image") %>
                <div class="caption">
                  <h5>ANDY BLAKLY</h5>
                  <p>(Creative Director)</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- FOOTER -->
      <!-- COPY RIGHT -->
    </div>

    <!-- LOGIN MODAL -->
    <div class="modal fade" id="login" tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3 class="modal-title">log in</h3>
          </div>
          <div class="modal-body">
            <form action="" method="POST" role="form">
              <div class="form-group">
                <label for="login-email">Enter Email</label>
                <input type="email" class="form-control" id="login-email">
              </div>
              <div class="form-group">
                <label for="login-password">Password</label>
                <input type="password" class="form-control" id="login-password">
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox"> Remember Me
                </label>
              </div>
              <button type="submit" class="btn btn-primary btn-block">log in</button>
              <button type="button" class="btn btn-link btn-block">Forgot Password?</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- SIGN UP MODAL -->
    <div class="modal fade" id="signup" tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3 class="modal-title">Create an account</h3>
          </div>
          <div class="modal-body">
            <form action="" method="POST" role="form">
              <div class="form-group">
                <label for="signup-email">Enter Email</label>
                <input type="email" class="form-control" id="signup-email">
              </div>
              <div class="form-group">
                <label for="signup-password">Password</label>
                <input type="password" class="form-control" id="signup-password">
              </div>
              <div class="form-group">
                <label for="signup-password-confirmation">Confirm Password</label>
                <input type="password" class="form-control" id="signup-password-confirmation">
              </div>
              <button type="submit" class="btn btn-primary btn-block">Sign up</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
