<body>

  <div class="main-wrapper">
    <!-- LIGHT SECTION -->
    <section class="lightSection clearfix pageHeaderImage">
      <div class="container">
        <div class="tableBlock">
          <div class="row tableInner">
            <div class="col-xs-12">
              <div class="page-title">
                <h2>cart</h2>
                <ol class="breadcrumb">
                  <li>
                    <a href="index.html">Home</a>
                  </li>
                  <li class="active">cart</li>
                </ol>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- MAIN CONTENT SECTION -->
    <section class="mainContent clearfix cartListWrapper">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="cartListInner">
              <form action="#">
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        <th></th>
                        <th>商品名</th>
                        <th>価格</th>
                        <th>数</th>
                        <th>小計</th>
                      </tr>
                    </thead>
                    <tbody>

                      <!--<% related_products.each do |related_product| %>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                          <%= link_to aguzon_product_path(related_product.id) do %>
                            <div class="productBox">
                              <% if related_product.images.any? %>
                                <div class="productImage clearfix">
                                  <%= image_tag(related_product.display_image.attachment(:small), alt: "#{related_product.name}-img") %>
                                </div>
                              <% end %>
                              <div class="productCaption clearfix">
                                <h5><%= related_product.name %></h5>
                                <h3><%= related_product.display_price %></h3>
                              </div>
                            </div>
                          <% end %>
                        </div>
                      <% end %>-->

                      <% related_products.each do |related_product| %>
                        <tr>
                          <td class="col-xs-2">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <% if related_product.images.any? %>
                              <span class="cartImage"><%= image_tag(related_product.display_image.attachment(:small), alt: "#{related_product.name}-img") %></span>
                            <% end %>
                          </td>
                          <td class="col-xs-4"><%= related_product.name %></td>
                          <td class="col-xs-2"><%= related_product.display_price %></td>
                          <td class="col-xs-2"><input type="text" placeholder="1"></td><!--ここに個数-->
                          <td class="col-xs-2"><%= related_product.display_price * 1 %></td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                </div>
                <div class="updateArea">
                 <!--  <div class="input-group">
                    <input type="text" class="form-control" placeholder="I have a discount coupon" aria-describedby="basic-addon2">
                    <a href="#" class="btn input-group-addon" id="basic-addon2">apply coupon</a>
                  </div> -->
                  <a href="#" class="btn">アップデート</a>
                </div>
                <div class="totalAmountArea">
                  <div class="col-sm-4 col-sm-offset-8 col-xs-12">
                    <ul class="list-unstyled">
                      <li>小計 <span>792円</span></li>
                      <li>消費税 <span>18円</span></li>
                      <li>総計 <span class="grandTotal">810円</span></li>
                    </ul>
                  </div>
                </div>
                <div class="checkBtnArea">
                  <a href="checkout_step_1.html" class="btn btn-primary btn-block">購入する<i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- FOOTER -->
    <!-- COPY RIGHT -->
    <div id="footer" class="copyRight clearfix">
      <div class="container">
        <div class="row">
          <div class="col-sm-7 col-xs-12">
            <p>&copy; 2016-<%= Time.now.year %> Copyright Potepan Store .</p>
          </div>
          <div class="col-sm-5 col-xs-12">
            <ul class="list-inline">
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- LOGIN MODAL -->
  <div class="modal fade" id="login" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h3 class="modal-title">log in</h3>
        </div>
        <div class="modal-body">
          <form action="" method="POST" role="form">
            <div class="form-group">
              <label for="login-email">Enter Email</label>
              <input type="email" class="form-control" id="login-email">
            </div>
            <div class="form-group">
              <label for="login-password">Password</label>
              <input type="password" class="form-control" id="login-password">
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox"> Remember Me
              </label>
            </div>
            <button type="submit" class="btn btn-primary btn-block">log in</button>
            <button type="button" class="btn btn-link btn-block">Forgot Password?</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- SIGN UP MODAL -->
  <div class="modal fade" id="signup" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h3 class="modal-title">Create an account</h3>
        </div>
        <div class="modal-body">
          <form action="" method="POST" role="form">
            <div class="form-group">
              <label for="signup-email">Enter Email</label>
              <input type="email" class="form-control" id="signup-email">
            </div>
            <div class="form-group">
              <label for="signup-password">Password</label>
              <input type="password" class="form-control" id="signup-password">
            </div>
            <div class="form-group">
              <label for="signup-password-confirmation">Confirm Password</label>
              <input type="password" class="form-control" id="signup-password-confirmation">
            </div>
            <button type="submit" class="btn btn-primary btn-block">Sign up</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
