<% provide(:title, 'ログイン') %>
<section class="lightSection clearfix SignuppageHeaderImage">
  <div class="container">
    <div class="tableBlock">
      <div class="row tableInner">
        <div class="col-xs-12">
          <div class="page-title">
            <h2> - LOGIN - </h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="form">
  <ul>
  　<%= form_for Spree::User.new, as: :spree_user, url: spree.create_new_session_path do |f| %>
      <li><%= f.label :email, class: "email-label" %></li>
      <li><%= f.email_field :email, class: "email-form" %></li>

      <li><%= f.label :password, class: "password-label" %></li>
      <li><%= f.password_field :password, class: "password-form"%></li>

      <li><%= f.check_box :remember_me, tabindex: 3 %></li>
      <li><%= f.label :remember_me, "ログインしたままにする" %></li>

      <li><%= f.submit "Login", class: "btn btn-primary create-my-acount" %></li>
    <% end %>
    <p class="new-user">新しいユーザー? <%= link_to "アカウント登録NOW!", new_aguzon_user_path %></p>
  </ul>
</div>
