<!-- HEADER -->
<div class="header clearfix">
  <!-- TOPBAR -->
  <div class="topBar">
    <div class="container">
      <div class="row">
        <div class="col-md-6 hidden-sm hidden-xs">
          <ul class="list-inline">
            <li><a href="https://twitter.com/takaaki_roooll"><i class="fa fa-twitter" style="color: #1da1f2;"></i></a></li>
            <li><a href="#"><i class="fa fa-facebook-square" style="color: royalblue;"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram" style="color: #e1306c;"></i></a></li>
          </ul>
        </div>
        <div class="col-md-6 col-xs-12">
          <ul class="list-inline pull-right">
            <li>
              <% if spree_current_user %>
                <%= link_to "ログアウト", spree.logout_path, method: :delete %>
              <% else %>
                <%= link_to "新規登録", new_aguzon_user_path %>
                <small>or</small>
                <%= link_to "ログイン", new_aguzon_user_session_path %>
              <% end %>
            </li>
            <li class="dropdown searchBox">
              <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-search" style="color: #ff8914;"></i></a>
              <ul class="dropdown-menu dropdown-menu-right">
                <%= form_tag(aguzon_searches_path, method: :get) do %>
                  <%= text_field_tag :search, "", placeholder: "何かお探しですか？" %>
                  <%= submit_tag "search", :name => nil %>
                <% end %>
              </ul>
            </li>
            <li class="dropdown">
              <%= link_to aguzon_cart_path do %>
                <i class="fa fa-shopping-cart" style="color: #ffc489;"></i>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- NAVBAR -->
  <nav class="navbar navbar-main navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to aguzon_path do %>
          <span class="navbar-brand"><%= image_tag("img/oku_daira.png", :alt => "") %></span>
        <% end %>
      </div>
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "ホーム", aguzon_path %></li>
          <li><%= link_to "『おくだいら』とは", aguzon_about_us_path %></li>
          <li><%= link_to "奥平ブログ", aguzon_blog_entry_index_path %></li>
        </ul>
      </div>
    </div>
  </nav>
</div>
